// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-js-grammar {
	.body {
		max-height: 500px;
		overflow: auto;
	}

	.title {
		font-size: 1.5em;
		padding: 5px 0;
	}

	.indent {
		margin-left: 1em;
		padding: 6px;
	}

	.list-item {
		cursor: pointer;
		transition: all 0.3s ease-out;
		font-size: 1.2em;
		&:hover {
			background-color: #6b15cc;
			color: #f2f6f4;
		}
	}

	.list-nested-item {
		.list-item {
			&:before {
				color: @text-color-highlight;
			}
		}
	}
}
